*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-size: 62.5%;
  font-weight: normal;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.container {
  width: 120rem;
  margin: 0 auto;
}
/* style reset end  */

:root {
  --text-size-medium: 1.6rem;
}

/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* ___________________________________________________________________ */
/* header start */

body {
  overflow-x: hidden;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3.5rem;
  padding-right: 8.8rem;
}
.background-image {
  position: relative;
  overflow: hidden;
}
.menu {
  display: flex;
}
.menu-links {
  font-size: 1.6rem;
  line-height: 110%;
  margin-right: 11rem;
}
.menu-link {
  display: inline-block;
  padding: 0.9rem 1.9rem;
  transition: all 0.2s;
}
.menu-link:hover {
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  background-color: #bb3131;
  border-radius: 4rem;
}
.menu-link:not(:last-child) {
  margin-right: 3.5rem;
}
.button {
  display: inline-block;
  height: 4.3rem;
  width: 12.9rem;
  align-items: center;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  background-color: #bb3131;
  border-radius: 4rem;
  color: #fff;
}
.main {
  background-color: #2f904a;
}
.main-head {
  position: absolute;
  top: 25rem;
  padding-left: 7.5rem;
}
.head-title {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 7.8rem;
  letter-spacing: 0.025em;
  line-height: 130.52%;
  max-width: 45rem;
}
.head-text {
  color: #cee1e1;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.025em;
  font-size: 36px;
  max-width: 41.5rem;
}

/* head finish */

/* about start */
.about {
  padding-top: 14rem;
}
.bg-green {
  background-color: #2f904a;
}
.about-title {
  text-align: center;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 130.52%;
  color: #fff;
  letter-spacing: 0.025em;
}
.about-content {
  padding-top: 11.5rem;
  display: flex;
  align-items: center;
}
.image-hernya {
  object-fit: cover;
  display: block;
  margin-right: 10rem;
  min-height: 48.7rem;
  max-width: 51.5rem;
  border-radius: 4.5rem;
}
.about-description {
  padding-left: 4.3rem;
  max-width: 51.6rem;
  max-height: 36.1rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 180.02%;
  color: rgba(255, 255, 255, 0.8);
}

/* about finish */

/* service start */

.service {
  margin-top: 15rem;
  padding-bottom: 5.5rem;
}
.section-title {
  padding-top: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 130.52%;
  color: #fff;
  letter-spacing: 0.025em;
  margin-bottom: 12rem;

  /* 
  display: inline-block;
  text-align: center;
  align-items: center;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 130.52%;
  letter-spacing: 0.21em; */
}
.service-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.service-card {
  position: relative;
  margin-bottom: 10rem;
}
.service-image {
}
.card-image {
  object-fit: cover;
  min-height: 35rem;
  max-width: 35rem;
  display: block;
  border-radius: 4.4rem;
  overflow: hidden;
}
.service-text {
  position: absolute;
  bottom: 5rem;
  padding-left: 3rem;
}

.service-name {
  font-weight: 700;
  font-size: 3.2rem;
  max-width: 25.9rem;
  max-height: 7.3rem;
  margin-bottom: 3.5rem;
}
.service-price {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 90.52%;
}

.service-button {
  display: block;
  margin-left: 55rem;
  margin-right: 55rem;
}
/* service finish */

/* team start */

.team {
  background-color: #825390;
  padding-top: 7.5rem;
}
.team-title {
  margin: 0;
  margin-bottom: 9.4rem;
}
.team-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-master {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12rem;
}
.team-master {
}
.master-image {
  width: 32rem;
  height: 35rem;
  margin-bottom: 3rem;
}
.master-name {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 99.02%;
  margin-bottom: 2rem;
}
.master-more {
  font-weight: 700;
  font-size: 2rem;
  line-height: 99.02%;
  padding: 1.7rem 4.3rem;
  background: #cee1e1;
  border-radius: 3rem;
  color: #000;
}
/* /* */

/* */
*/

/* team finish */

/* social start */

.social {
  background-color: #825390;
  align-items: center;
  text-align: center;
}
.social-title {
  padding-top: 10rem;
  margin-bottom: 7.5rem;
}
.social-wrap {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-wapp {
}
.social-link {
  display: flex;
  transition: all 0.2s;
}
.social-block:not(:last-child) {
  margin-bottom: 4rem;
}
.social-logo {
  height: 100%;
  width: 100%;
  max-height: 5rem;
  max-width: 5rem;
}
.social-link-text {
  align-self: center;
  font-weight: 500;
  font-size: 2rem;
  padding-left: 4rem;
}
.social-telegram {
}
.social-link:hover {
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: #101010;
}

/* modal visit */

.modal-visit {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0, 0, 0, 0.6);
}
.visit-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 45rem;
  height: 45rem;
  background: #c2b1c7;
  border-radius: 4rem;
  padding: 5rem 10rem;
  position: relative;
}
.visit-title {
}
.modal-close {
  max-width: 2rem;
  max-height: 2rem;
  cursor: pointer;
  right: 3rem;
  top: 3.5rem;
  position: absolute;
  transition: all 0.2s;
}
.modal-close:hover {
  background: red;
  border-radius: 50%;
}
.visit-close {
}
.visit-title {
  font-size: 3.4rem;
  margin-bottom: 4rem;
}

.visit-item {
  width: 35rem;
  height: 3rem;
  border-radius: 1.5rem;
  background: #c4c4c4;
}

.visit-item:not(:last-child) {
  margin-bottom: 4rem;
}
.item-input:hover {
  cursor: text;
}
.item-input:focus {
  background: #fff;
}
.item-input {
  transition: background 0.2s;
  padding: 2.5rem;
  font-size: 1.8rem;
  background: #c4c4c4;
  width: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  height: 100%;
}
.item-input::placeholder {
  opacity: 0.8;
  color: #000;
  font-size: 1.4rem;
  font-weight: 400;
}
.visit-wrap {
  flex: 1 1 auto;
}
.visit-button {
  margin-top: 4rem;
  background: #50e7d5;
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
  width: 23rem;
}
.visit-button:hover {
}
/* modal visit */
/* social finish */
/* modal start */
/* .modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: none;
}
.modal-closebutton {
  position: absolute;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  top: 2rem;
  right: 2rem;
  background-color: grey;
  border-radius: 50%;
}
.modal-inner {
  position: relative;
  background: #2c2c2c;
  width: 66.3rem;
  padding: 9rem 0;
}
.modal-title {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 1rem;
}
.modal-subtitle {
  font-size: var(--text-size-medium);
  line-height: 160%;
  margin-bottom: 2.8rem;
  opacity: 0.5;
}
.modal-input {
  width: 45.4rem;
  margin: 0 auto 3.2rem auto;
}
 */
/* adaptive */
/* blya ne smog sdelat' :( */
/* adaptive */
